# This GitHub Actions workflow builds and pushes Docker images for the dev and main branches
name: Build Docker, Run Libate

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  # workflow_dispatch:  # Allows manual triggering of the workflow
  # inputs:
  #   LIBATION_VERSION:
  #     description: 'Libation version to build'
  #     default: '12.5.2'
  #     required: true

env:
  LIBATION_VERSION: 13.1.1
  #GIT_TAG: 12.4.11
  ## Set a default GIT_TAG, can be overridden by running
  # docker build --build-arg GIT_TAG=13.0.0 .
  

jobs:
  build-dev:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/dev'  # Only run this job on the dev branch
    #env:
    #  REPO_NAME: ${{ github.event.repository.name }}  # Get the repository name from the event
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Docker image from dev branch
        run: |
          #docker build --build-arg GIT_TAG=${{ env.LIBATION_VERSION }} -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:dev .

      - name: Build and Push Docker Image for dev
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:${{ env.LIBATION_VERSION }}_${{ github.ref_name }}
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:dev
          build-args: |
            LIBATION_VERSION=${{ env.LIBATION_VERSION }}

  build-main:
    runs-on: ubuntu-latest
    #needs: build-dev  # Ensure this runs after build-dev
    if: github.ref == 'refs/heads/main'  # Only run this job on the main branch

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Docker image from main branch
        run: |
          docker build --build-arg LIBATION_VERSION=${{ env.LIBATION_VERSION }} -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:latest .

      - name: Build and Push Docker Image for main
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:${{ env.LIBATION_VERSION }}
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:latest

